@model ProductModel
<h1>Product Page</h1>



<table border="1">
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Product Name</td>
        <td>@Model.ProductName</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@Model.Price</td>
    </tr>
</table>